$main-color = #c073ff
$main-color-dark = #4b0d78
$sub-color = #f3f0f5
$sub-color-dark = #853fb5
$btn-text-color = #000000
$btn-text-color-dark = #fffff3
$title-color = #0519f7
$title-color-dark = #ffffff
$icon-active-color = #0519f7
$hover-color = #0519f7
$active-color = #1226ff